/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
@font-face {
    font-family: "Roboto";
    src: url("/src/assets/roboto-v27-latin-regular.woff");
}
body { margin: 0; font-family: "Roboto", "Helvetica Neue", sans-serif; }
