<div class="main-pane">
    
    <div>
        <div class="title">
            <p>Projects</p>
            <hr>
        </div>
        <div class="project repo ">
            <div class="description"><a href="https://github.com/TrendMap/Front-end">TrendMap(Angular/Python):</a> Shows you what is trending near you by leveraging social media data to give you a better picture of the most trending places</div>
        </div>
        <div  class="project repo">
            <div class="description"><a href="https://github.com/Owledge-ASE/Iteration-1">Owledge(Ruby):</a> Democratizing the process of creating and sharing notes by enabling users to easily create and view class notes in a single platform</div>
            
        </div> 
        <div  class=" project repo ">
            <div class="description"><a href="https://github.com/TeamAPR/tool">GYMPaG(Java):</a> an Automated Program Repair tool for Java programs which allow users to automatically find and fix bugs in their Java programs using this tool</div>
        </div>

    </div>
    <div>
        <div class="title">
            <p>Portfolio</p>
            <hr>
        </div>
        <div class="project">
            
            <div class="title">TrendMap</div>
            <div>
                <img src="../../../assets/TrendMap.png">
            </div>
        </div>
        <div  class="project">
            <div class="title">Owledge</div>
            <div>
                <img src="../../../assets/Owledge.png">
            </div>
            
        </div>
        <div  class="project ">
            <div class="title">Quaffles</div>
            <div class="description">A React based mobile application built to ease the process of networking</div>
            <div class="mobile">
                <img src="../../../assets/Quaffles.PNG" >
            </div>
        </div>
        <div class="job-data">
            <div class="job-title">Job History</div>
            <div class="job-info">
                <img src="../../../assets/ZS_Logo_RGB@4x.png">
                <div class="text">Senior Business Technology Analyst</div>
                <div class="text date">Jan 18 - Nov 20</div>
            </div>
            <div class="job-info">
                <img src="../../../assets/ZS_Logo_RGB@4x.png">
                <div class="text">Business Technology Analyst</div>
                <div class="text date">Jul 15 - Dec 17</div>
            </div>
    
        </div>

    </div>
</div>
