
.main-pane{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto";
    font-size: 30px;
    padding-left: 30px;
    .title{
        font-weight: 500;
        padding: 20px;
        padding-left: 50px;
    }
    .description{
        font-size: 16px;
        text-align: left;
        padding: 20px;
    }
    .project{
        .title{
            padding-left: 0px;
            font-size: 20px;
            text-align: left;
        }
        img{
            width:100%;
        }
        .mobile{
            width:300px;
        }
    }
    .repo{
        padding-bottom: 5px;
        .title{
            padding-left: 0px;
            font-size: 20px;
            text-align: left;
        }
        img{
            width:100%;
        }
        .description{
            font-size: 16px;
            text-align: left;
            padding: 0px;
        }
        a{
            margin-top: 10px;
            color: #267CB9;
            text-decoration: none;
        }
        a:hover, a:focus {
            color: #069;
            font-weight: bold;
        }

    }
    hr{
        border: 0;
        background: #e5e5e5;
        height: 1px;
        width:100%;
        margin: 0 0 20px;
    }
    p{
        padding-bottom: 10px;
    }

}
    .job-data{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-family: "Roboto";
        font-size: 12px;
        width:100%;
        .job-title{
            
            font-weight: 500;
            font-size: 16px;
        }
        .job-info{
            display: flex;
            flex-direction: row;
            img{
                height:30px;
                border-radius: 50%;
            }
            .text{
                flex:15;
                padding:3px;
            }
            .date{
                flex:5;

            }
        }
    }