<div class="main-pane">
    <div class="title">
        <p>Portfolio</p>
        <hr>
    </div>
    <div class="project">
        
        <div class="title">TrendMap</div>
        <div>
            <img src="../../../assets/TrendMap.png">
        </div>
    </div>
    <div  class="project">
        <div class="title">Owledge</div>
        <div>
            <img src="../../../assets/Owledge.png">
        </div>
        
    </div>
    <div  class="project ">
        <div class="title">Quaffles</div>
        <div>
            <img src="../../../assets/Quaffles.PNG" class="mobile">
        </div>
    </div>
    <div class="job-data">
        <div class="job-title">Job History</div>
        <div class="job-info">
            <img src="../../../assets/ZS_Logo_RGB@4x.png">
            <div class="text">Senior Business Technology Analyst</div>
            <div class="text date">Jan 18 - Nov 20</div>
        </div>
        <div class="job-info">
            <img src="../../../assets/ZS_Logo_RGB@4x.png">
            <div class="text">Business Technology Analyst</div>
            <div class="text date">Jul 15 - Dec 17</div>
        </div>

    </div>
</div>
