<div class="total-container">

    <div class="image-container">
        <img src="../../../assets/George Cherian 2020 v1.jpg">
    </div>
    <div class="name-container">
        <div class="name">
            George Cherian
        </div>
        <div class="headline">
            Software Developer and Problem Solver
        </div>
        <div class="headline college-details">
            MS in Computer Science at Columbia University (May '22)
        </div>
        <div class="headline">
            <img src="../../../assets/Columbia-2.png">

        </div>
        <div class="bio">
            Experienced software developer with more than 5 years of experience working with various
            front end and back end languages and farmeworks like Swift, Angular, Java, Python and more

        </div>
    </div>
    <div class="social-container">
            <a href="https://www.linkedin.com/in/george--cherian/">LinkedIn</a>
            <a href="https://github.com/George-cherian-dev">Github</a>
    </div>
</div>
